<div class="task_list_container">
  <header class='header'>
    <h1>TASKLIST</h1>
  </header>
  <div class="tasklist-button-bar">
    <div>
      <%= link_to 'Add Task', new_task_path, class: 'tasklist-links' %>
    </div>
    <div>
      <%= link_to 'All Tasks', tasks_path, class: 'tasklist-links' %>
    </div>
  </div>
  <div class="list-of-tasks-with-links">
    <h2>YOUR TASKS</h2>
    <ol>
      <% @tasks.each do |task| %>
      <li>
        <p>
          <%= task.action %> - <%= link_to 'View Task', task_path(task.id), class: 'task-detail-link' %>
        </p>
        <p>
          <%= link_to 'Mark Complete', mark_task_complete_path(task.id), method: :patch, class: 'task-detail-link' %>
          <%= link_to 'Update Task', edit_task_path(task.id), class: 'task-detail-link' %>
          <%= link_to 'Delete Task', task_path(task), method: :delete, data: { confirm: "Do you want to delete #{task.action}?" }, class: 'task-detail-link' %>
        </p>
      </li>
      <% end %>
    </ol>
  </div>
  <footer>
    <p>
      &copy 2018
    </p>
  </footer>
</div>
