<%= form_with model: @task do |f| %>
  <p>Please provide the following information to save your task in the database:</p>

  <%= f.label :action %>
  <%= f.text_field :action %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :completion_date %>
  <%= f.text_field :completion_date %>

  <%= f.submit "Save Task", class: "new-task-button" %>
<% end %>
