<h2>Task Details</h2>
<p>
  <strong>Task ID:</strong>
  <%= @task.id %>
</p>
<p>

</p>
<p>
  <strong>Task:</strong>
  <%= @task.action %>
</p>
<p>

</p>
<p>
  <strong>Detail:</strong>
  <%= @task.description %>
</p>
<p>

</p>
<p>
  <strong>Completion Date:</strong>
  <%= @task.completion_date %>
</p>
<p>
  <%= link_to "Return to list", tasks_path %>
</p>
